#vueScoped {
  font-size: 3em;
  height: 1800px;
  .parent {
    width: 200px;
    height: 200px;
    border: 2px solid salmon;
  }

  .son {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    background-color: pink;

    font-size: 2em;

    .son_ind {
    //   font-size: 3em;
    }
  }

  .el-button {
    background-color: #fff;

  }

  comScoped {
    font-size: 3em;
  }

  #tag1 {
    height: 100px;
    width: 100px;
    background-color: #000000;
    margin: 530px 0 0;
  }
}
