<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<div id="app">
    <h1>{{song}}</h1>
    <p>《{{album.name}}》是{{singer}}2005年11月发行的专辑</p>
    <p>主打歌曲为{{album.theme}}</p>
    {{singer}}{{song}}
    <pre>{{list}}</pre>
    <div>{{all}}</div>
    <!-- <p>1</p> -->
    <input v-model="singer" />
</div>
</body>
<script src="../../JsUtil/Mvvm.js"></script>
<script>
    let vue = new Vue({
        el: '#app',
        data: {     // Object.defineProperty(obj, 'song', '发如雪');
            song: '发如雪',
            album: {
                name: '十一月的萧邦',
                theme: '夜曲'
            },
            singer: '周杰伦',
            list: ['听妈妈的话', '夜的第七章', '麦芽糖']
        },
        methods: {
            clickMe() {
                alert(1);
            }
        },
        // computed可以缓存 只是把数据挂在了vm上
        computed: {
            all() {
                return this.song + '是一首中国风的歌曲,发表于' + this.album.name;
            },
            noop() {
            }
        },
        mounted() {
            setTimeout(() => {
                // 不能响应数组长度的变化和直接索引修改值
                vue.list[2] = '你听得到';
                vue.list.push('我不配');
                console.log(vue)
            }, 1000)
        }
    });
</script>

</html>