<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <p>请输入:</p>
        <input type="text" id="input">
        <p id="p"></p>
    </main>

</body>
<script src="../../JsUtil/Mvvm2.js"></script>
<script>
    let demo = new Vue({
        data: {
            text: "",
        },
    });

    const p = document.getElementById("p");
    const input = document.getElementById("input");

    input.addEventListener("keyup", function (e) {
        demo.text = e.target.value;
    });

    demo.$watch("text", (str) => (p.innerHTML = str));
</script>

</html>