<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .item {
            width: 100px;
            height: 100px;
            border: 1px solid #000;
        }
    </style>
</head>

<body>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>

    <script>
        // let items = document.getElementsByClassName("item");
        // let i;

        // for (i = 0; i < items.length; i++) {
        //     (items[i].onclick = function () {
        //         items[i].style.cssText = 'background:pink';
        //     })()
        // }
        // let str = "what are you doing ?";
        // let regexp1 = /[^at]/g;
        // let regexp2 = /[wh]/g;
        // console.log(str.match(regexp1));
        // console.log(str.match(regexp2));

        // let regexp3 = /doing|are/;
        // console.log(str.match(regexp3));

        // var regex = /nice|good/;
        // var string = "good idea, nice try.";
        // console.log(string.match(regex));
        // let str2 = "#000 #Fsda00 #121212 #ds #_sss";
        // let regexp4 = /#\w{3,6}/g;
        // console.log(str2.match(regexp4));

        // let str3 = "23:59";
        // let str4 = "02:09";
        // let regexp5 = /^([2][0-3]|[01]\d):[0-5]\d$/; 
        // console.log(regexp5.test(str3));
        // console.log(regexp5.test(str4));

        // let str5 = "2020-09-12";
        // let regexp6 = /^\d{4}-{0\d|1[0-2]}-[0-3]\d$/;

        //2
        // var result = "I\nlove\njavascript".replace(/^|$/gm, '^');
        // console.log(result);
        // let e1 = "s1s1s1";
        // var reg1 = /(?=.+[0-9])^[0-9A-Za-z]{1,6}$/;
        // var reg2 = /^(?=.*[0-9])[0-9A-Za-z]{1,6}$/;

        // console.log(reg1.test(e1));
        // console.log(reg2.test(e1));
        // console.log(e1.match(reg2));

        //3
        // var reg1 = "JavaScript";
        // var regex = /I love (JavaScript|Regular Expression)/;
        // console.log(regex.test("a I love JavaScript"));
        // // console.log(regex.test("JavaScript"));
        // console.log("a I love JavaScript".match(regex));

        // var regex = /^((\d)(\d(\d)))\1\2\3\4$/;
        // var string = "1231231233";
        // console.log(regex.test(string)); // true
        // console.log(RegExp.$1); // 123
        // console.log(RegExp.$2); // 1
        // console.log(RegExp.$3); // 23
        // console.log(RegExp.$4); // 3


        // function camelize(str) {
        //     return str.replace(/[-_\s]+(.)/g, function (match, c) {
        //         return c ? c.toUpperCase() : '';
        //     });
        // }
        // console.log(camelize('moz-transform'));
        // let reg = /[-_\s]+(.)/g;
        // console.log("-moz-transform".match(reg));

        //api
        // let str = "who are you ? who yours ?";
        // let ind = "who";
        // let reg = /(\w){3,5}/g;
        // let reg2 = /(\w+)/g;
        // console.log(str.match(ind));
        // console.log(str.match(reg));
        // console.log(str.match(reg2));

        // let reg1 = /(\w+)/g;
        // console.log(str.match(reg1));
        // console.log(str.replace(reg1,"1"));

        // var a = "HeLLo hello";
        // console.log(a.search(/LL/i));// return 2

        // var str = "hey JudE";
        // var re = /[a-z]/g;
        // var re2 = /[A-Z]/g;
        // console.log(str.search(re)); //return 0
        // console.log(str.search(re2)); //return 4

        // var myString = "Hello 1 word. Sentence number 2.";
        // var splits = myString.split(/(\d)/);
        // console.log(splits);

        // var re = /quick\s(brown).+?(jumps)/ig;
        // var result = re.exec('The Quick Brown Fox Jumps Over The Lazy Dog');
        // console.log(result);
        
        // var email = "";
        // var reg = /^\d{6-11}(@|)/;
    </script>
</body>

</html>