<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="father" id="fath">
        <!-- <p class="son_p1"></p> -->
        <p class="son_p" id="p1">this is p</p>
        <h1 class="son_h1" id="h1_1">123</h1>
    </div>
    <script>
        let father = document.querySelector("#fath");
        let son_p = document.querySelector(".son_p");
        let son_h1 = document.querySelector(".son_h1");

        // console.log(son_p.nodeName, son_p.nodeValue, son_p.nodeType);
        // console.log(father.nodeName, father.nodeValue, father.nodeType);
        // console.log(son_h1.nodeName, son_h1.nodeValue, son_h1.nodeType);

        // console.log(father.childNodes);
        // console.log(father.children);
        // console.log(father.childNodes[1]);
        // console.log(father.childNodes.item(1));
        // console.log(son_p.children);

        console.log(father.normalize);

    </script>
</body>

</html>